.App {
  text-align: center;
  background-color: black;
  color: #00ff89;
  height: 100vh;
}

.taskInput{
  background-color: rgb(50, 1, 50);
  height: auto;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px whitesmoke;
  border-radius: 10px;
  
}

